*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:#050816;
    color:white;
    overflow-x:hidden;
}

.particles{
    position:fixed;
    inset:0;
    background:
    radial-gradient(circle at 20% 20%,rgba(0,212,255,.15),transparent 25%),
    radial-gradient(circle at 80% 30%,rgba(108,99,255,.15),transparent 25%);
    z-index:-1;
}

.navbar{
    width:100%;
    padding:25px 8%;
}

.brand{
    display:flex;
    align-items:center;
    gap:15px;
}

.brand img{
    width:60px;
    height:60px;
    object-fit:cover;
    border-radius:10px;
}

.brand h2{
    font-size:30px;
    font-weight:700;
}

.hero{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.glass-card{
    width:100%;
    max-width:900px;
    text-align:center;
    padding:60px 50px;
    border-radius:30px;

    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,0.1);

    box-shadow:
    0 10px 40px rgba(0,0,0,.35);
}

.tag{
    display:inline-block;
    background:rgba(0,212,255,.15);
    color:#00d4ff;
    padding:10px 20px;
    border-radius:50px;
    margin-bottom:25px;
}

.glass-card h1{
    font-size:4rem;
    line-height:1.1;
    margin-bottom:25px;
}

.glass-card p{
    max-width:700px;
    margin:auto;
    font-size:1.15rem;
    color:#d1d5db;
    line-height:1.8;
}

.feedback-btn{
    display:inline-block;
    margin-top:40px;

    padding:18px 40px;

    background:linear-gradient(
    135deg,
    #00d4ff,
    #6c63ff
    );

    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:600;

    border-radius:12px;

    transition:.3s;
}

.feedback-btn:hover{
    transform:translateY(-4px);
    box-shadow:0 0 25px rgba(0,212,255,.5);
}

@media(max-width:768px){

    .brand h2{
        font-size:18px;
    }

    .glass-card{
        padding:40px 25px;
    }

    .glass-card h1{
        font-size:2.2rem;
    }

    .glass-card p{
        font-size:1rem;
    }
}